*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #29ce13;
    padding: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:aliceblue;
    margin-bottom: 1em; 
    border-bottom: 12px solid #29ce13;
}

main{
    display:flex;
    justify-content: center;
    gap: 2em;
    margin: 0 2em;
}
main p {
    margin-bottom: 0.8em;
    font-family: "Nova Script", system-ui;
    font-weight: 400;
    font-size: 1.3rem;
    font-style: normal;
    
}

.img-section img{
    width: 50em;
    border-radius: 2em;
    box-shadow: 0.5em 0.5em 2em rgb(167, 161, 161);
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 0.2em;
    background-color: bisque;
    text-align: center;
    color: rgb(156, 156, 156);
    font-size: 1.3rem;
}

@media (max-width: 1080px) {
    main{
        flex-direction: column;
    }
    header{
        font-size: 1.3em;
    }
    .img-section img{
        width: 100%;
    }
    main p {
        font-size: 1em;
    }
    main p:last-child {
        padding-bottom: 1.3em;
    }
    footer{
        position: fixed;
    }


}